<div id="specialCharactersModal" class="popup">
    <% e.begin_block("specialCharactersPopup"); %>
        <h1>Insert Special Character into this pad</h1>
        <div class="specialChars">
<div class="specialChar">&#00C1;</span>
            <!-- Special Chars here -->
        </div>
        <div>
            <input type="button" class="specialCharacterButton" id="cancelspecialCharacter" value="Cancel">
        </div>
    <% e.end_block(); %>
</div>
